.icon-button {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Style for icon images */
.icon-button img {
  width: 350%; 
  height: auto;
  object-fit: contain; 
}

/* Change brightness of icon image on hover */
.icon-button:hover img {
  filter: brightness(80%);
}
/* Other styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px; /* Change extension width */
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

.entry {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
}

.label {
  font-weight: bold;
}

.timestamp {
  color: #666;
}

.notes {
  margin-top: 5px;
  font-style: italic;
}

#addEntry {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#addEntry:hover {
  background-color: #0056b3;
}